__pycache__/
models/*
build
*.egg*
xttsv2_2.0.2
whispercpp
outputs/*
audio_response.wav
tests/*.wav
.env.local
test.ipynb
output.md
ezlocalai.yml
.env
deepseek
pull_request.md
hf/*
*.whl
*.egg-info
*.tar.gz
pretrained_models