fastapi
uvicorn
pydantic==2.5.3
requests==2.31.0
tiktoken==0.5.2
python-dotenv==1.0.1
beautifulsoup4==4.12.3
faster-whisper==0.10.0
pydub==0.25.1
ffmpeg==1.4
torch>=2.2.0+cu118
torchaudio>=2.2.0+cu118
transformers==4.37.2
TTS==0.22.0
sounddevice==0.4.6
deepspeed==0.13.1
webrtcvad==2.0.10
pyaudio==0.2.14
pyngrok==7.1.0
accelerate==0.27.2
diffusers==0.26.3
python-multipart