fastapi
uvicorn
pydantic
requests==2.32.0
tiktoken==0.7.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
faster-whisper==1.2.0
gguf
pydub==0.25.1
ffmpeg-python==0.2.0
transformers==4.46.3
chatterbox-tts
sounddevice==0.4.6
webrtcvad==2.0.10
pyaudio==0.2.14
pyngrok==7.1.6
accelerate
diffusers>=0.29.0
python-multipart
openai
pdfplumber
sentence-transformers
sentencepiece
safetensors