version: '3.8'

services:
  ezlocalai:
    image: joshxt/ezlocalai:latest
    environment:
      - EZLOCALAI_URL=${EZLOCALAI_URL-http://localhost:8091}
      - EZLOCALAI_API_KEY=${EZLOCALAI_API_KEY-}
      - DEFAULT_MODEL=${DEFAULT_MODEL-TheBloke/phi-2-dpo-GGUF}
      - LLM_MAX_TOKENS=${LLM_MAX_TOKENS-0}
      - WHISPER_MODEL=${WHISPER_MODEL-base.en}
      - IMG_ENABLED=${IMG_ENABLED-false}
      - VISION_MODEL=${VISION_MODEL}
      - LLM_BATCH_SIZE=${LLM_BATCH_SIZE-1024}
      - SD_MODEL=${SD_MODEL}
    restart: unless-stopped
    ports:
      - "8091:8091"
      - "8502:8502"
    volumes:
      - ./models:/app/models
      - ./outputs:/app/outputs
      - ./voices:/app/voices
      - ./whispercpp:/app/whispercpp
      - ./xttsv2_2.0.2:/app/xttsv2_2.0.2