services:
  ezlocalai:
    image: joshxt/ezlocalai:latest
    environment:
      - EZLOCALAI_URL=${EZLOCALAI_URL-http://localhost:8091}
      - EZLOCALAI_API_KEY=${EZLOCALAI_API_KEY-}
      - DEFAULT_MODEL=${DEFAULT_MODEL-unsloth/Qwen3-VL-4B-Instruct-GGUF}
      - WHISPER_MODEL=${WHISPER_MODEL-large-v3}
      - IMG_MODEL=${IMG_MODEL-}
      - LLM_BATCH_SIZE=${LLM_BATCH_SIZE-1024}
      - MAX_CONCURRENT_REQUESTS=${MAX_CONCURRENT_REQUESTS-1}
      - MAX_QUEUE_SIZE=${MAX_QUEUE_SIZE-100}
      - REQUEST_TIMEOUT=${REQUEST_TIMEOUT-300}
      - VOICE_SERVER=${VOICE_SERVER-}
      - VOICE_SERVER_API_KEY=${VOICE_SERVER_API_KEY-}
    restart: unless-stopped
    ports:
      - "8091:8091"
    volumes:
      - ./models:/app/models
      - ./hf:/home/root/.cache/huggingface/hub
      - ./outputs:/app/outputs
      - ./voices:/app/voices
      - ./whispercpp:/app/whispercpp
      - ./xttsv2_2.0.2:/app/xttsv2_2.0.2