fastapi
uvicorn
streamlit
pydantic
requests==2.31.0
tiktoken==0.6.0
python-dotenv==1.0.1
beautifulsoup4==4.12.3
faster-whisper==1.0.1
pydub==0.25.1
ffmpeg-python==0.2.0
torch==2.3.0
torchaudio==2.3.0
transformers
TTS==0.22.0
sounddevice==0.4.6
pyaudio==0.2.14
webrtcvad==2.0.10
pyngrok==7.1.6
accelerate
python-multipart
llama-cpp-python
openai
pdfplumber
spacy
optimum
onnx