fastapi
pydantic
requests
uvicorn
pyjwt
tiktoken
llama-cpp-python
python-dotenv
psutil
beautifulsoup4
whisper-cpp-pybind
pydub
ffmpeg
numpy>=1.22.0
soundfile>=0.12.1
transformers==4.37.1
TTS>=0.22.0
tqdm>=4.66.1
sounddevice>=0.4.6
torch>=2.1.2
torchaudio>=2.1.2
